<div class="center hero-unit">
	<h1>Welcome to the Music App</h1>
	<h2> Music App Motherfuckeeeeeeerrrsss! </h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("music.png", alt: "Music App"), '#' %>